# Archivos y carpetas generados por Flutter/Dart
/build/
/.dart_tool/
/.packages
/.flutter-plugins
/.flutter-plugins-dependencies
/pubspec.lock

# Archivos específicos de Android
.gradle/
/android/local.properties
/android/key.properties
/android/app/src/main/res/values/google-services.json
*.keystore
*.jks

# Archivos específicos de iOS
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Pods/
/ios/.symlinks/
/ios/Podfile.lock

# Configuraciones de editores (VS Code, Android Studio)
.vscode/
.idea/
*.iml
*.iws

# Otros (Sistemas operativos y archivos temporales)
.DS_Store
Thumbs.db